html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
body {
	margin-top: 61px;
	background-color: #fff;
	font: 12px/18px "Helvetica Neue", "Segoe UI", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	color: #333;
}

ul,ol,li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.clr {
	float: none;
	clear: both;
}

.jp-gui {
	height: 100%;
}
.jp-controls {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: block;
	height: 60px;
	line-height: 60px;
	background: url(../img/topbar.gif) 0 0 repeat-x;
	color: #252525;
	border-bottom: 1px solid #7b7b7b;
	box-shadow: 0 0 2px rgba(0,0,0,.3);
}
.jp-controls li {
	display: block;
	float: left;
}
.jp-controls li:first-child {
	margin-left: 50px;
}
.jp-controls li a {
	display: block;
	font-size: 0;
	color: transparent;
	height: 24px;
	line-height: 24px;
	margin: 19px 11px 17px;
	outline: none;
	cursor: default;
}

.jp-controls li a.jp-previous {
	background: url(../img/prev.png) center center no-repeat;
	width: 25px;
}
.jp-controls li a.jp-previous:active {
	background-image: url(../img/prev-active.png);
}

.jp-controls li a.jp-play {
	background: url(../img/play.png) center center no-repeat;
	width: 24px;
}
.jp-controls li a.jp-play:active {
	background-image: url(../img/play-active.png);
}

.jp-controls li a.jp-pause {
	background: url(../img/pause.png) center center no-repeat;
	width: 24px;
}
.jp-controls li a.jp-pause:active {
	background-image: url(../img/pause-active.png);
}

.jp-controls li a.jp-next {
	background: url(../img/next.png) center center no-repeat;
	width: 25px;
}
.jp-controls li a.jp-next:active {
	background-image: url(../img/next-active.png);
}

.jp-volume-bar {
	position: fixed;
	left: 200px;
	top: 26px;
	width: 98px;
	height: 10px;
	background: url(../img/volume-track.png);
}
.jp-volume-bar-value {
	position: relative;
	height: 10px;
	background: url(../img/volume-track-fill.png);
}
.jp-volume-bar-value:after {
	content: '';
	position: absolute;
	top: -5px;
	right: -10px;
	width: 19px;
	height: 19px;
	z-index: 2;
	background: url(../img/volume-knob.png) 0 0 no-repeat;
}
.jp-volume-bar:active .jp-volume-bar-value:after,
.jp-volume-bar-value:active:after {
	background-image: url(../img/volume-knob-active.png);
}

.track-window-container {
	position: fixed;
	top: 3px;
	left: 50%;
	width: 390px;
}
.track-window-container .track-window {
	position: absolute;
	left: -50%;
	width: 390px;
	height: 54px;
	background: url(../img/track-window.png) 0 0 no-repeat;
}

.jp-playlist-item-remove {
	display: none;
}
.jp-playlist-item {
	display: block;
	padding: 2px 1em;
	background-color: #fafafa;
	border-bottom: 1px solid #e7e9ec;
	border-top: 1px solid #fefefe;
	color: #000;
	text-decoration: none;
}
.jp-playlist-item:nth-child(4) {
	background-color: #f1f4f7;
	border-bottom-color: #e7e9ec;
	border-top-color: #f6f9fb;
}

a.jp-playlist-current {
	padding: 3px 1em;
	border: none;
	background-color: #8ba7c9;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0,.2);
}